@media (max-width: 767px){
	/* header */
	.header{
		height: 150px;
		margin-top: 50px;
	}
	.header .row .col-lg-12 h3{
		font-size: 25px;
	}
	.header .row .col-lg-12 h1{
		font-size: 50px;
	}

	/* section */

	/* Page Index */
	.home1{
		height: 1100px;
		letter-spacing: 2px;
	}
	.home1 .row .col-lg-8{
		position: absolute;
		padding-top: 100px;
		left: 60px;
	}
	.home1 .row .col-lg-5{
		position: relative;
		top: 450px;
		left: 185px;
	}
	.home1 .row button{
		position: absolute;
		top: 1230px;
		left: 270px;
		padding: 20px 50px;
	}

	.home2 .row .col-lg-8{
		padding: 10px 10px;
		margin: 20px 65px;
	}

	/* Page About */
	.about1{
		height: 700px;
	}
	.about1 .row .col-lg-10{
		position: absolute;
		top: 230px;
		left: 0px;
	}
	.about1 .row .col-lg-6{
		position: relative;
		top: 330px;
		left: 0px;
	}

	/* Page Product */
	.product1{
		height: 800px;
	}
	.product1 .row .col-lg-7{
		position: absolute;
		top: 300px;
		left: 50px;
	}
	.product1 .row .col-lg-4{
		position: relative;
		top: 75px;
		left: 175px;
	}
	.product1 .row .col-lg-5{
		position: absolute;
		top: 800px;
		left: 120px;
	}

	.product2{
		height: 800px;
	}
	.product2 .row .col-lg-7{
		position: absolute;
		top: 1150px;
		left: 70px;
	}
	.product2 .row .col-lg-4{
		position: relative;
		top: 140px;
		left: 140px;
	}
	.product2 .row .col-lg-5{
		position: absolute;
		top: 1650px;
		left: 70px;
		
	}
	.product3{
	height: 900px;
	}
	.product3 .row .col-lg-7{
		position: absolute;
		top: 1950px;
		left: 60px;
	}
	.product3 .row .col-lg-4{
		position: relative;
		top: 100px;
		left: 0px;
	}
	.product3 .row .col-lg-5{
		position: absolute;
		top: 2400px;
		left: 120px;
		background-color: #f6e1c5;
	}


	/* Page Store */
	.store1 .row .col-lg-7 span{
		margin-left: 120px;
	}
	.store1 .row{
		margin-top: 100px;
	}
	.store1 .row .col-lg-7{
		padding: 10px 10px;
		margin: 50px 70px;
	}

	.store2{
		height: 1000px;
	}
	.store2 .row .col-lg-10{
		position: absolute;
		padding-top: 80px;
		left: 0px;
	}
	.store2 .row .col-lg-8{
		position: relative;
		padding: 30px 50px;
		top: 370px;
		left: 0px;
	}

}