@import url('https://fonts.googleapis.com/css?family=Montserrat:100,900i');
html, body {
  font-family: 'Montserrat', sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-image: url("image/img.jpg");
  background-attachment: fixed;
}	

body h5, h6{
	font-size: 15px;
	font-weight: bold;
}
body p{
	font-size: 18px;
	font-weight: bold;
}

/* header */
.header{
	height: 220px;
	margin-top: 50px;
}
.header .row .col-lg-12 h3{
	color: red;
	text-transform: uppercase;
	font-size: 30px;
	font-weight: bold;
}
.header .row .col-lg-12 h1{
	color: black;
	text-transform: uppercase;
	font-size: 80px;
	color: white;
}

/* navbar */
.main-menu .navbar{
	height: 100px;
	background-color: #490909;
}
.main-menu .navbar-nav{
	margin: 0 auto;
}
.main-menu .navbar-nav li{
	padding: 0px 30px;
}
.main-menu .navbar-nav .nav-item a{
	font-size: 20px;
	color: white;
	font-weight: bold;
}


/* footer */
.footer .col-lg-12{
	background-color: #311919;
	height: 120px;
	padding-top: 50px;
	color: white;
	font-size: 18px;

}
.footer span{
	font-weight: bold;
	border: 1px solid white;
	border-radius: 100%;
	padding: 0px 5px;
}

/* section */
/* Page Index */
.home1{
	height: 1000px;
	letter-spacing: 2px;
}
.home1 .row .col-lg-8{
	position: absolute;
	padding-top: 100px;
	left: 450px;
}
.home1 .row .col-lg-5{
	position: relative;
	border: 1px solid #f6e1c5;
	border-radius: 10px;
	padding: 50px 50px;
	top: 200px;
	left: 70px;
	background-color: #f6e1c5;
}

.home1 .row button{
	position: absolute;
	top: 910px;
	left: 330px;
	padding: 30px 70px;
	letter-spacing: 3px;
	font-weight: bold;
	background-color: #7b261a;
	border: 1px solid #7b261a;
	font-size: 20px;
}

.home2 .row{
	background-color: #7d2b24;
	margin-bottom: 100px;
}
.home2 .row .col-lg-8{
	border: 1px solid #f6e1c5;
	border-radius: 10px;
	padding: 10px 10px;
	margin: 80px 230px;
	letter-spacing: 2px;
}
.home2 .row .col-lg-8 .cadre{
	background-color: #f6e1c5;
	border: 1px solid #f6e1c5;
	border-radius: 10px;
	padding: 50px 100px;
}


/* Page About */
.about1{
	height: 800px;
}
.about1 .row .col-lg-10{
	position: absolute;
	padding-top: 100px;
	left: 130px;
}
.about1 .row .col-lg-6{
	position: relative;
	border: 1px solid #f6e1c5;
	border-radius: 10px;
	padding: 30px 50px;
	top: 400px;
	left: 350px;
	background-color: #f6e1c5;
}
.about1 .row .col-lg-6 h1{
	font-weight: 300;
}

/* Page Product */
.product1{
	height: 800px;
}
.product1 .row .col-lg-7{
	position: absolute;
	padding-top: 150px;
	left: 300px;
}
.product1 .row .col-lg-4{
	position: relative;
	border: 1px solid #f6e1c5;
	border-radius: 10px;
	padding: 10px 10px;
	top: 100px;
	left: 800px;
	background-color: #f6e1c5;
}
.product1 .row .col-lg-5{
	position: absolute;
	border: 1px solid #f6e1c5;
	border-radius: 10px;
	padding: 30px 30px;
	top: 900px;
	left: 100px;
	background-color: #f6e1c5;
}

.product2{
	height: 800px;
}
.product2 .row .col-lg-7{
	position: absolute;
	padding-top: 150px;
	left: 300px;
}
.product2 .row .col-lg-4{
	position: relative;
	border: 1px solid #f6e1c5;
	border-radius: 10px;
	padding: 10px 10px;
	top: 100px;
	left: 100px;
	background-color: #f6e1c5;
}
.product2 .row .col-lg-5{
	position: absolute;
	border: 1px solid #f6e1c5;
	border-radius: 10px;
	padding: 30px 30px;
	top: 1700px;
	left: 700px;
	background-color: #f6e1c5;
}

.product3{
	height: 900px;
}
.product3 .row .col-lg-7{
	position: absolute;
	padding-top: 150px;
	left: 300px;
}
.product3 .row .col-lg-4{
	position: relative;
	border: 1px solid #f6e1c5;
	border-radius: 10px;
	padding: 10px 10px;
	top: 100px;
	left: 800px;
	background-color: #f6e1c5;
}
.product3 .row .col-lg-5{
	position: absolute;
	border: 1px solid #f6e1c5;
	border-radius: 10px;
	padding: 30px 30px;
	top: 2500px;
	left: 100px;
	background-color: #f6e1c5;
}

/* Page Store */
.store1 .row .col-lg-7 span{
	margin-left: 300px;
}
.store1 .row{
	background-color: #7d2b24;
	margin-top: 100px;
}
.store1 .row .col-lg-7{
	border: 1px solid #f6e1c5;
	border-radius: 10px;
	padding: 10px 10px;
	margin: 80px 280px;
}
.store1 .row .col-lg-7 .cadre{
	background-color: #f6e1c5;
	border: 1px solid #f6e1c5;
	border-radius: 10px;
	padding: 50px 100px;
}
.store1 p{
	font-size: 16px;
	font-weight: normal
}

.store2{
	height: 850px;
}
.store2 .row .col-lg-10{
	position: absolute;
	padding-top: 100px;
	left: 130px;
}
.store2 .row .col-lg-8{
	position: relative;
	border: 1px solid #f6e1c5;
	border-radius: 10px;
	padding: 30px 50px;
	top: 400px;
	left: 250px;
	background-color: #f6e1c5;
	
}
.store2 p{
	font-size: 18px;
	letter-spacing: 2px;
	font-weight: normal;
	padding-top: 30px;
}











@media (max-width: 575px){
	.header .row .col-lg-12 h3{
		font-size: 10px;
	}
	.header .row .col-lg-12 h1{
		font-size: 20px;
	}

}	   


